<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="https://lh3.googleusercontent.com/pw/AL9nZEU9T2s5lYIa667wUAiqRXVaVmawG9dnXI7ZNCocW7o-vJ3reIgcfepMvcOo8x2-0Y8iT4oZiCFPuXXm0R4N04D7NON2nuYJZAFxaRPaU20U_x5RF8vOP29BYXLJbn_0J-ASgmtxVtj7DJsfokC8TFKb=w720-h969-no">

<!-- end custom head snippets -->
